body {
    font-family: Arial, sans-serif;
    background-color: #dadada;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather-form {
    margin: 20px;
    
}

#input {
    padding: 7px;
    font-size: 1rem;
    border: solid 2px hsl(0, 0%, 55%);
    border-radius: 10px;
    width: 200px;
    margin-bottom: 15px;
}

button {
    background-color: hsl(0, 0%, 100%);
    padding: 8px 10px;
    border: solid 2px hsl(0, 0%, 55%) ;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 55%);
    color: white;
}  

#main-container{
    width: 340px;
    background-color: rgb(105, 152, 255);
    text-align: center;
    border-radius: 20px;
}

.card-items {
    margin: 10px;
    color: hsl(0, 4%, 22%);
}
