body {
    font-family: Arial, sans-serif;
    background-color: #a5bde4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm {
    margin: 20px;
    
}

.cityInput {
    padding: 7px;
    font-size: 1rem;
    border: solid 2px hsl(0, 0%, 55%);
    border-radius: 10px;
    width: 200px;
    margin-bottom: 15px;
}

button {
    background-color: hsl(0, 0%, 100%);
    padding: 8px 10px;
    border: solid 2px hsl(0, 0%, 55%) ;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 55%);
    color: white;
}  

.card{
    width: 340px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    display: flex;

}

.card-items {
    margin: 10px;
    color: hsl(0, 4%, 22%);
}

.error {
    color: red;
}